.task-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.new-task {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.new-task button {
    width: 160px;
}

.task-item {
    font-weight: 300;
    background-color: whitesmoke;
    height: 36px;
    padding: 8px 16px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-card .label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    color: var(--black);
}
.task-card .label span {
    color: inherit;
}

.task-card .checkpoints {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.task-card .checkpoints .checkpoint {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    color: #d3d3d3;
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 4px;
    font-style: italic;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    box-shadow: 0 2px 4px 0 #d3d3d3;
}

.task-card .checkpoints .checkpoint.current:hover {
    scale: 1.06;
}

.task-card .checkpoints .checkpoint.failed {
    color: white;
    background-color: var(--red);
    background-color: silver;
}
.task-card .checkpoints .checkpoint.upcoming {
    font-weight: 500;
}
.task-card .checkpoints .checkpoint.current {
    cursor: pointer;
    color: white;
    background-color: var(--yellow);

}
.task-card .checkpoints .checkpoint.success {
    color: white;
    background-color: var(--green);
}

.task-card .checkpoints .checkpoint .icon {
    color: inherit;
    font-size: 28px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 4px;
}

.task-card .checkpoints .checkpoint.success .icon {
    font-size: 36px;
    margin-top: 8px;
    margin-bottom: 0;
}

.task-card .checkpoints .checkpoint.upcoming .icon {
    font-weight: 300;
}

.task-card .progress {
    width: 100%;
    height: 8px;
    background-color: lightblue;
    margin: 0px 0 12px 0;
    border-radius: 2px;
}